#wrapper
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          %h1.page-header
            Add Product
          %ol.breadcrumb
            %li
              %i.fa.fa-dashboard
              %a{:href => "/upload_images"} Index
            %li.active
              %i.fa.fa-edit
              Forms
      .row
        .col-lg-6
          = form_for @product do |f|
            .form-group
              %label Name
              = f.text_field :name, :class => "form-control"
            .form-group
              %label Category
              = f.fields_for :product_categories, :html => {:multipart => true}  do |builder|
                = builder.select(:name, Category.all.collect{|p| [p.name, p.id]}, { :prompt => "Please select"}, :class => "form-control multiple", :multiple =>"multiple")
                = flash[:message] if flash[:message].present? 
                = flash[:message] = nil
            .form-group
              = f.submit "Save", class: "btn btn-primary"

:javascript
  $(".multiple").select2();

  