#wrapper
  #page-wrapper
    .container-fluid
      / Page Heading
      .row
        .col-lg-12
          %h1.page-header
            Upload New Images
          %ol.breadcrumb
            %li
              %i.fa.fa-dashboard
              %a{:href => "/upload_images"} Index
            %li.active
              %i.fa.fa-edit
              Forms
      / /.row
      .row
        .col-lg-6
          = form_for @product do |f|
            .form-group
              %label Name
              = f.text_field :name, :class => "form-control"#, :multiple => true
              %label Image
              = f.fields_for :upload_images, :html => {:multipart => true}  do |builder|
                = builder.file_field :image, :multiple => true, :required => true
                %br
              = f.submit "Upload", class: "btn.btn-primary"

