#wrapper
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          %h1.page-header
            Product Listing
            %small Image Overview
          %ol.breadcrumb
            %li.active
              %i.fa.fa-dashboard
              Index
      .row
        .col-lg-12
          .alert.alert-info.alert-dismissable
            / %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
            %i.fa.fa-info-circle
            %strong 
            Try out
            %a.alert-link{:href => "/products/new"} Add Product
      -  if flash[:notice].present?
        .row
          .col-lg-12
            .alert.alert-success.alert-dismissable
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              = flash[:notice] if flash[:notice].present?
              = flash[:notice] = nil
      .row
        .col-lg-12
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped
              %thead
                %tr
                  %th
                    Product Name
                  %th
                    Categories Name
                  %th
                    Action
              %tbody
                - @products.each do |product|
                  %tr
                    %td
                      = product.name
                    %td
                      = product.categories.map(&:name).join(',')
                    %td
                      = link_to "Edit", edit_product_path(:id => product.id), class: "btn btn-primary"
                      = link_to "Delete", product_path(:id => product.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"