<!DOCTYPE html>
<html>
<head>
  <title>Ckeditor</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link href="http://font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <!-- <link href="http://plugins/morris.css" rel="stylesheet"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/top_menu"%>
<%= yield %>

</body>
</html>
